name: Robot Framework UI Tests (Firefox)

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  robot-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Instalar Geckodriver
        run: |
          sudo apt-get update
          sudo apt-get install -y firefox-geckodriver

      - name: Instalar dependências Python
        run: |
          pip install robotframework
          pip install robotframework-seleniumlibrary

      - name: Executar testes Robot Framework (Firefox headless)
        run: |
          robot --variable BROWSER:headlessfirefox --outputdir results tests/

      - name: Upload resultados
        uses: actions/upload-artifact@v4
        with:
          name: robot-results
          path: results/
